@model IEnumerable<Electronics_Selling_System.tbl_Product_Category>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_CategoryName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Product_CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Product_CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Product_CategoryID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
