@model IEnumerable<Electronics_Selling_System.tbl_Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product_Category.Product_CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_User.User_FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Product_Category.Product_CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_User.User_FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Product_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Product_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Product_ID })
        </td>
    </tr>
}

</table>
